.banner {
  position: relative;
  height: 448px;
  color: white;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

.banner__contents {
  position: absolute;
  top: 150px;
  padding: 0 20px;
  max-width: 450px;
  height: 100%;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  color: aliceblue;
  text-align: left;
}

.banner__discription {
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1rem;
  color: aliceblue;
  text-align: justify;
}
