.overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  width: 60vw;
  height: 55vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: aliceblue;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.modalLeft {
  height: 100%;
  width: 35%;
}
.modalRight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 65%;

  gap: 30px;
}

.modalLeft img {
  width: 100%;

  height: 100%;
}

h1,
h2 {
  color: black;
  text-align: justify;
  line-height: 1.5;
}

h3 {
  text-align: justify;
  color: black;
  margin-top: 20px;
}

.content {
  margin: 0.6rem auto;
  padding: 1rem 2rem;
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 15px;
  color: black;
  cursor: pointer;
}

.btnContainer {
  padding: 1rem 1rem;
  text-align: center;
  width: 100%;
}

.btnContainer button {
  width: 20%;
  margin: 0.5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
  border-radius: 10px;
}

.btnPrimary {
  background-color: crimson;
  color: white;
}

@media screen and (max-width: 1400px) {
  .modalContainer {
    width: 70vw;
  }
}

@media screen and (max-width: 1100px) {
  .modalContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    overflow: scroll;
    width: 90%;
    margin-top: 27px;
  }

  .modalLeft img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .modalLeft {
    width: 100%;
    margin-top: 190px;
  }

  .modalRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .content h1 {
    font-size: 20px;
  }

  .content h2,
  h3 {
    font-size: 15px;
  }

  .closeBtn {
    color: white;
    background-color: red;
    border-radius: 50%;
    padding: 4px;
    margin-right: 5px;
    height: 25px;
    width: 25px;
  }
}
